table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

.tope table {
    width: 100%;
    height: 30%;
    table-layout: fixed;
}

.top td {
    text-align: center;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif; 
}

.top th:first-child, .top td:first-child {
    width: 0em;
    min-width: 0em;
    max-width: 0em;
    text-align:center;
}

td:hover {
    background-color: #f5f5f5;
}

.gridview, .gridview td, .gridview th {
    border: 1px solid #cccccc;
}

.gridview .selected {
    background-color: darkgrey;
}

.top {
    background-color: darkgray;
}

.bottom-left {
    background-color: rgb(255, 255, 255);

}

.bottom-left table {
    width: 50%;
    background: lightgray;
    border: 1px;
}

.bottom-left td {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
}